.sass-cache
.idea
.env
node_modules
bower_components
vendor
wordpress
composer.lock
.htaccess
sitemap.xml
wp-content/plugins
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/themes/*/assets/script.js
wp-content/themes/*/assets/style.css
config/database.php
config/local/database.php
